version: "3.8"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    volumes:
      - ./esdata:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    networks:
      - elastic

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    networks:
      - elastic

  poller:
    build:
      context: ./poller
      dockerfile: Dockerfile
    container_name: poller_wallapop
    depends_on:
      - elasticsearch
    networks:
      - elastic
      # --- VOLUMEN AÑADIDO PARA LA SALIDA DE DATOS ---
    volumes:
      # Mapeamos el CWD del host (./wallapop_data) al CWD del contenedor (donde se ejecuta el script)
      # Esto asume que el script se ejecuta en el directorio raíz de la imagen Docker.
      - ./wallapop_data:/usr/src/app
    # -----------------------------------------------

networks:
  elastic:
    driver: bridge
